/* ========================  */
html,
body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
    font-family: "Fira Sans", "Noto Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========================  */

.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1000ms, visibility 1000ms;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader .ring {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 3px #BCDFF5;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 3px #889AD5;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 3px #87BDF2;
    }
}

.ring:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

/* ========================  */

#background-image,
#background-filter {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#background-image {
    z-index: 1;
    background-image: url("https://raw.githubusercontent.com/MiguelV5/MiguelV5/main/misc/polyrythm_kogecha.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    filter: blur(1px) grayscale(30%);
}

#background-filter {
    z-index: 2;
    background: radial-gradient(rgb(0 0 0 / 60%) 60%, transparent);
}

/* ========================  */

canvas {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 9;
}


#logo {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0.15;
    white-space: nowrap;
    pointer-events: none;
}

#logo>img {
    height: 3.2vmin;
}


#control-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 0.5rem;
}

/* ========================  */

.toggle {
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    border-radius: 0.25rem;
    height: 2.3rem;
    width: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.toggle:is(:hover, :focus-visible) {
    background-color: rgb(255 255 255 / 15%);
}

.toggle>i {
    color: white;
    display: none;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}

.toggle[data-toggled="true"]>i.on {
    display: block;
}

.toggle[data-toggled="false"]>i.off {
    display: block;
}

#sound-message {
    position: fixed;
    bottom: -2%;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
    padding: 0.75rem;
    background-color: rgb(255 255 255 / 5%);
    border-radius: 0.4rem;
    transition: opacity 1000ms;
    pointer-events: none;
}


#sound-message>p {
    color: white;
    font-size: 0.9rem;
    white-space: nowrap;
}