html,
body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

canvas {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 9;
}

#logo {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0.08;
    white-space: nowrap;
    pointer-events: none;
}

#logo>img {
    height: 3.2vmin;
}

#background-image,
#background-filter {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#background-image {
    z-index: 1;
    background-image: url("https://assets.codepen.io/1468070/Lofi+Rainy+Loft+Interior.jpg?format=webp&quality=90");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    filter: blur(4px) grayscale(30%);
}

#background-filter {
    z-index: 2;
    background: radial-gradient(rgb(0 0 0 / 60%) 50%, transparent);
}

#control-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 0.5rem;
}

/* .toggle {
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    border-radius: 0.25rem;
    height: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.toggle */
/* 
.toggle>i {
    color: white;
    display: none;
    height: 1rem;
    width: 1rem;
    font-size: 0.6rem;
    line-height: 1rem;
    text-align: center;
}

.toggle[data-toggled="true"]>i.on {
    display: block;
}

.toggle[data-toggled="false"]>i.off {
    display: block;
} */

#sound-message {
    position: fixed;
    top: 3%;
    left: 50%;
    translate: -50% -50%;
    z-index: 3;
    padding: 0.75rem;
    background-color: rgb(255 255 255 / 5%);
    border-radius: 0.4rem;
    transition: opacity 1000ms;
    pointer-events: none;
}

#sound-message:is(:hover, :focus-visible) {
    background-color: rgb(255 255 255 / 15%);
}

body:has(#sound-toggle[data-toggled="true"]) #sound-message {
    opacity: 0;
}

#sound-message>p {
    color: white;
    font-size: 0.9rem;
    white-space: nowrap;
}